.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;

  }
  
  .popup {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    animation: gb-popup-bounce-to-bottom 1.1s both;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .popup p {
    padding: 20px;

  }
  .popup h3 {
    margin-top: 0;
  }
  
  .popup-presentation .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .popup button {
    background-color: #232323;
    color: #f0f0f0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: rgba(32, 124, 202, 1);;
  }


  
  /* .popup .other-team {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  } */
  
  /* .popup .other-team label {
    margin-right: 0.5rem;
  }
  
  .popup .other-team input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .popup .other-team button {
    margin-left: 0.5rem;
  } */

  .team-list > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
  }

  .quiz-container > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
  }

  .quiz-container .message-container {
    padding: 20px;
    line-height: 1.5;
    border-radius: 0.25rem;
  }

  .team-choice-item, .option {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  /* rgba(32, 124, 202, 1); */
  /* From Uiverse.io by Laxu22 */ 
button {
  padding: 0.8em 1.8em;
  border: 2px solid #f0f0f0;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 100ms linear;
  z-index: 1;
  font-family: inherit;
  color: #f0f0f0;;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgba(32, 124, 202, 1);
  transition: 200ms linear;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #f0f0f0;
  transform: translateY(-7px);
  box-shadow: 0px 7px 0px rgb(24, 94, 155);
  cursor: pointer;
}

button:active {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px #188b80;
}


.visible-section .gb-popup-bounce-to-bottom,
.visible-lightbox .gb-popup-bounce-to-bottom {
 animation: gb-popup-bounce-to-bottom 1.1s both;
}
 
@keyframes gb-popup-bounce-to-bottom {
 0% {transform: translateY(-500px);animation-timing-function: ease-in;opacity: 0;}
 38% {transform: translateY(0);animation-timing-function: ease-out;opacity: 1;}
 55% {transform: translateY(-65px);animation-timing-function: ease-in;}
 72% {transform: translateY(0);animation-timing-function: ease-out;}
 81% {transform: translateY(-28px);animation-timing-function: ease-in;}
 90% {transform: translateY(0);animation-timing-function: ease-out;}
 95% {transform: translateY(-8px);animation-timing-function: ease-in;}
 100% {transform: translateY(0);animation-timing-function: ease-out;}
}
