.options{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 200px;
    margin-top: 1rem;
    background-color: red;
  }
  
  .option {
    margin: 200px;
    padding: 200px;

  }
  .popup button {
    background-color: #232323;
    color: #f0f0f0;
    border: none;
    padding: 50%;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: rgba(32, 124, 202, 1);;
  }

  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgba(32, 124, 202, 1);
    transition: 200ms linear;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: #f0f0f0;
    transform: translateY(-7px);
    box-shadow: 0px 7px 0px rgb(24, 94, 155);
    cursor: pointer;
  }
  
  button:active {
    transform: translateY(-2px);
    box-shadow: 0px 2px 0px #188b80;
  }
  

